# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69a1cca60008ce17440e
VITE_APPWRITE_DATABASE_ID=69a1ceab001b0ac5f2d0
VITE_APPWRITE_USERS_COLLECTION_ID=users
VITE_APPWRITE_WALLETS_COLLECTION_ID=wallets
VITE_APPWRITE_TASKS_COLLECTION_ID=tasks
VITE_APPWRITE_EXCHANGER_COLLECTION_ID=exchanger
VITE_APPWRITE_SUBMISSIONS_COLLECTION_ID=submissions
VITE_APPWRITE_TRANSACTIONS_COLLECTION_ID=transactions
VITE_APPWRITE_POOLS_COLLECTION_ID=pools

# Appwrite Functions (Server Side)
APPWRITE_API_KEY=
APPWRITE_FUNCTION_ROI_ID=
APPWRITE_FUNCTION_ACTIVATION_ID=
